{% extends "website/base.html" %}

{% load bootstrap3 %}
{% load static %}

{% block title %}Wandelplanner op maat {{ block.super }}{% endblock %}

{% block content %}
<div class="container">

  <div style="margin-top: 20px;"></div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      {% bootstrap_form_errors form %}
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_field form.start show_label=False %}
        {% bootstrap_field form.leave show_label=False %}
        {% buttons %}
          <button id="submit-directions" type="submit" class="btn btn-block btn-primary" title="Plan reis">
            <strong>Plan</strong>
          </button>
        {% endbuttons %}
      </form>

    </div>
  </div>

  <div class="vertical-spacer-20"></div>

</div>
{% endblock %}
