html {
    position: relative;
    min-height:100%;
}

body {
    padding-top: 60px;
    margin-bottom: 55px;
}

.vertical-spacer-20 {
    padding: 0;
    margin: 0;
    height: 20px;
}

.panel-footer-timeline {
    padding-top: 3px;
    padding-bottom: 3px;
}

.panel-heading-timeline {
    padding-top: 3px;
    padding-bottom: 3px;
}

.timeline-icon {
    font-size: 18px;
}

.result-bar {
    padding-top: 4px;
}

.timeline-text {
    font-size: 16px;
}

.timeline-time-text {
    font-size: 16px;
    font-weight: bold;
}

.progress-bar-wait {
    background-color: #c5c9cb;
}

.progress-bar-tram {
    background-color: #02b3ef;
}

.progress-bar-bus {
    background-color: #0a6799;
}

.progress-bar-ovfiets {
    background-color: #ffc917;
}

.footer {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #e0e0e0;
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 40px;
    height: auto;
    background-color: #f9f9f9;
}
