html, body {
    overflow-x: hidden;
}

body {
    padding-top: 60px;
}

.vertical-spacer-20 {
    padding: 0;
    margin: 0;
    height: 20px;
}

.panel-footer-timeline {
    padding-top: 3px;
    padding-bottom: 3px;
}

.panel-heading-timeline {
    padding-top: 3px;
    padding-bottom: 3px;
}

.timeline-icon {
    font-size: 22px;
}

.result-bar {
    padding-top: 4px;
}

.timeline-text {
    font-size: 16px;
    font-weight: bold;
}

.timeline-time-text {
    font-size: 16px;
    font-weight: bold;
}

.progress-bar-wait {
    background-color: #c5c9cb;
}
