
.switch {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
}

.switch input {display:none;}

.toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e85524;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

.toggle-slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

input:checked + .toggle-slider {
    background-color: #e85524;
}

input:focus + .toggle-slider {
    box-shadow: 0 0 1px #e85524;
}

input:checked + .toggle-slider:before {
    -webkit-transform: translateX(76px);
    -ms-transform: translateX(76px);
    transform: translateX(76px);
}

.toggle-slider:after
{
    content:'Vertrek';
    color: white;
    display: block;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 60%;
    font-size: 13px;
    font-family: Verdana, sans-serif;
}

input:checked + .toggle-slider:after
{
    content:'Aankomst';
    top: 50%;
    left: 40%;
}
