{% extends "website/base.html" %}

{% load bootstrap3 %}

{% block title %}Plan {{ block.super }}{% endblock %}

{% block content %}
<div class="container">

  <div style="margin-top: 20px;"></div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      {% bootstrap_form_errors form %}
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_field form.start show_label=False %}
        {% bootstrap_field form.end show_label=False %}
        {% bootstrap_field form.leave show_label=False %}
        {% bootstrap_field form.arrive_by show_label=True %}
        {% buttons %}
        <button type="submit" class="btn btn-block btn-primary" title="Plan reis">
          Plan
        </button>
        {% endbuttons %}
      </form>

    </div>
  </div>

  <div class="vertical-spacer-20"></div>
  <div class="vertical-spacer-20"></div>

  {% if plan_history %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          Previous Trips
        </div>
        <div class="panel-body">
        {% for plan in plan_history %}
          <div class="h5"><a href="{% url 'plan-results' plan.start plan.end 0 %}">{{ plan.start }} - {{ plan.end }}</a></div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          About
        </div>
        <div class="panel-body">
          <p>
            Reisbrein is a hackathon project participating in the
            <a href ="https://www.utrechtinc.nl/en/dutchmobilityhackathon/">Dutch Mobility Hackathon</a>
            (17-18 November 2017).
          </p>
          <p>
            Reisbrein makes use of data generously made available by
            <a href="https://developer.tomtom.com/">TomTom</a>,
            <a href="http://www.plannerstack.org/">Plannerstack</a>,
            <a href="http://wiki.openstreetmap.org/wiki/YOURS">Yours</a>, and
            <a href="https://opendata.rdw.nl/">RDW</a>.            .
          </p>
          <p>
            Contact: reisbrein@romansland.nl
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
