{% extends "website/base.html" %}

{% load bootstrap3 %}

{% block title %}Reisplanner op maat {{ block.super }}{% endblock %}

{% block content %}
<div class="container">

  <div style="margin-top: 20px;"></div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">

      {% bootstrap_form_errors form %}
      <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_field form.start show_label=False %}
        {% bootstrap_field form.end show_label=False %}
        {% bootstrap_field form.leave show_label=False %}
        {% bootstrap_field form.arrive_by show_label=True %}
        {% buttons %}
        <button type="submit" class="btn btn-block btn-primary" title="Plan reis">
          Plan
        </button>
        {% endbuttons %}
      </form>

    </div>
  </div>

  <div class="vertical-spacer-20"></div>
  <div class="vertical-spacer-20"></div>

  {% if plan_history %}
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default text-center">
        <div class="panel-heading">
          Eerdere Reizen
        </div>
        <div class="panel-body">
        {% for plan in plan_history %}
          <div class="h5">
            <a href="{% url 'plan-results' plan.start plan.end 0 %}">{{ plan.start }} - {{ plan.end }}</a>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
